@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
   background: #151515  ;
    font-size: 16px; 
}

.auto
{
    color: #00bf63;
    position: absolute;
    margin: 17rem 43rem;
    font-weight: 700;
    font-size: 24px;
    width: 40%;
}

#gif
{
    height: 30%;
    width: 10%;
    position: absolute;
    margin: 29rem 84rem;    


}

